<nav class="navbar">
    <ul [ngClass]="toggleClasses">
        <li class="logo">
            <a ((click)="onClick('home')">
                <img src="../../../assets/images/minimal-logo.png" alt="Kōen. Redirects you to home page">
            </a>
        </li>
        <li class="item button">
            <a (click)="open()">
                <div class="login-button">
                    <span class="login-text">Login</span>
                </div>
            </a>
        </li>
        <li class="item button secondary">
            <a (click)="onClick('signup')">
                <div class="signup-button">
                    <span class="signup-text">Sign Up</span>
                </div>
            </a>
        </li>
        <li class="toggle">
            <a (click)="toggleActive()">
                 <fa-icon *ngIf="onToggle === 1" [icon]="faBars"></fa-icon>
                 <fa-icon *ngIf="onToggle === 0" [icon]="faTimes"></fa-icon>
            </a>
        </li>
    </ul>
</nav>