@use '../../../assets/styles/light-theme-colors'
@use '../../../assets/styles/fonts'        
        
nav
    background: light-theme-colors.$light-background-color
a
    text-decoration: none
.logo
    font-size: 20px
    padding: 7.5px 10px 7.5px 20px

.item.button
    padding: 0.5em
    &:hover
        transition: 0.3s
.item:not(.button) a:hover ,
.item a:hover::after
    color: light-theme-colors.$light-secondary-color

// Mobile Menu
.navbar
    display: block 
.menu
    list-style-type: none
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    padding: 0px
    padding-top: 20px
.menu li a
    display: block
    padding: 15px 5px
.toggle
    padding-right: 20px
    order: 1
    font-size: 20px
    fa-icon
        color: light-theme-colors.$light-secondary-color
.item.button
    order: 2
.item
    width: 100%
    text-align: center
    display: none
    font-family: fonts.$primary-font-type, sans-serif
    .login-button
        .login-text
            color: light-theme-colors.$light-secondary-color
            font-size: 20px
            font-weight: 700
    .signup-button
        .signup-text
            color: light-theme-colors.$light-secondary-color
            font-size: 20px
            font-weight: 700

.active .item
    display: block

.button
    background-color: light-theme-colors.$light-background-color
    margin: 0 1.7em
    &:hover
        background-color: light-theme-colors.$light-secondary-color
        box-shadow: 0px 3.49144px 3.49144px
        border-radius: 20px
        .login-text
            color: light-theme-colors.$light-primary-color !important

.button.secondary
    // margin-left: 20px
    background-color: light-theme-colors.$light-primary-color
    border-radius: 0.3rem
    &:hover
        background-color: light-theme-colors.$light-secondary-color
        box-shadow: 0px 3.49144px 3.49144px
        .signup-text
            color: light-theme-colors.$light-primary-color

.logo img
    height: 60px


/* Tablet menu */
@media all and (min-width: 700px)
    .navbar
        display: block  
    .menu 
        justify-content: right
        padding-right: 2em
    
    .logo 
        flex: 1
    
    .item.button 
        width: auto
        order: 1
        display: block
    
    .toggle 
        display: none
    
    /* Button up from tablet screen */
    .menu li a 
        padding: 10px 15px
        // margin: 5px 0
    
    .button a 
        // background: light-theme-colors.$light-background-color
    
    .button.secondary 
        border: 0
    
    .button.secondary a 
        background: transparent
    
    .button a:hover 
        text-decoration: none
    
    
/* Desktop menu */
@media all and (min-width: 960px)
    .navbar
        display: block 
    .menu 
        align-items: flex-start   
        flex-wrap: nowrap
        background: none
    
    .logo 
        order: 0
    
    .item 
        order: 1
        position: relative
        display: block
        width: auto
    
    .button 
        order: 2
    
    .toggle 
        display: none