@use '../../../assets/styles/fonts'

/* Phone */
@media all and ( max-width: 699px )
    .content-panel
        display: flex
        flex-direction: column
        padding: 2.5em
        padding-top: 0em
        flex: 1
        flex-flow: wrap
        #journey-start
            display: flex
            flex-direction: column
            justify-content: space-evenly
            padding-right: 0em
            height: 300px
            padding: 1em
            flex: 1
            .make-a-page-text
                display: flex
                flex-direction: column
                width: 240px
                align-self: center
                text-align: center
                #jiffy
                    margin-bottom: 0em
                    font-family: fonts.$primary-font-type, sans-serif
                    font-size: 26px
                .info-text
                    font-family: fonts.$primary-font-type, sans-serif
                    font-size: 20px
            .pageCreateForm
                display: flex
                flex-direction: column
                flex: 1
                align-items: center
                #creatorPageName
                    #startPageCreate
                        border-radius: 20px
                        border: none
                        height: 40px
                        width: 300px
                        font-size: 20px
                        font-weight: 700
                        background-color: #e8e8e8
                        text-align: center
                #startPageCreation
                    margin-top: 20px
                    .button
                        height: 40px
                        width: 300px
                        border: none
                        border-radius: 20px
                        color: #6892D5
                        background-color: #79D1C3
                        font-weight: 700
                        font-size: 16px
                        transition: 0.3s
        .center-block
            display: flex
            flex-direction: column
            justify-content: center
            padding: 1em
            height: 440px
            width: inherit
            flex: 1
            align-items: center
            .info-text.text-left
                font-family: fonts.$primary-font-type, sans-serif
                width: 250px
                font-weight: 500
                font-size: 16px
                padding-top: 50px
            .man-playing-games
                height: 140px
                img
                    height: 120px
        .search-creator
            display: flex
            flex-direction: column
            justify-content: space-evenly
            padding-right: 0em
            height: 270px
            padding: 1em
            flex: 1
            .content-heading.text-left
                align-self: center
                font-family: fonts.$primary-font-type, sans-serif
                margin-bottom: 20px
            .creatorSearchForm
                display: flex
                flex-direction: column
                align-items: center
                flex: 1
                #creator
                    #creatorFind
                        border-radius: 20px
                        border: none
                        height: 40px
                        width: 300px
                        font-size: 20px
                        font-weight: 700
                        background-color: #e8e8e8
                        text-align: center
                #creatorFindSubmit
                    padding-top: 20px
                    .button
                        height: 40px
                        width: 300px
                        border: none
                        border-radius: 20px
                        color: #6892D5
                        background-color: #79D1C3
                        font-weight: 700
                        font-size: 16px
                        transition: 0.3s
        #woman-section
            display: flex
            flex-direction: column-reverse
            padding: 0em
            align-items: center
            justify-content: center
            flex-flow: wrap-reverse
            .info-text.text-right
                padding-right: 0px
                font-size: 15px
                font-weight: 500
                font-family: fonts.$primary-font-type, sans-serif
                padding: 1em

            .woman-on-computer
                height: 120px
                width: 260px
                padding-bottom: 100px
                margin-bottom: 100px
                img
                    height: 290px

/* Tablet */
@media all and ( min-width: 700px ) and ( max-width: 959px )
    .content-panel
        padding: 3em
        #journey-start
            justify-content: space-between
            display: flex
            flex-direction: row
            flex-wrap: wrap
            flex: 1
            height: 260px
            .make-a-page-text
                width: 200px
                display: flex
                flex-direction: column
                padding-left: 3em
                #jiffy
                    font-size: 26px
                    margin-bottom: 0em
                    font-family: fonts.$primary-font-type, sans-serif
                .info-text
                    font-family: fonts.$primary-font-type, sans-serif
                    font-size: 20px
            .pageCreateForm
                    display: flex
                    flex-direction: row
                    align-items: center
                    padding-right: 3em
                    #creatorPageName
                        #startPageCreate
                            height: 40px
                            border: none
                            border-radius: 20px
                            padding: 0px 30px
                            width: 250px
                            font-size: 20px
                            font-weight: 700
                            background-color: #e8e8e8
                    #startPageCreation
                        margin-left: 20px
                        .button
                            border: none
                            height: 40px
                            width: 100px
                            border-radius: 20px
                            color: #6892D5
                            background-color: #79D1C3
                            font-weight: 700
                            font-size: 16px
                            transition: 0.3s
                            &:hover
                                box-shadow: 3px 3px 3px
        .center-block
            display: flex
            flex-direction: row
            justify-content: space-around
            height: fit-content
            padding-top: 1em
            .info-text.text-left
                font-size: 16px
                line-height: 25px
                width: 200px
                font-family: fonts.$primary-font-type, sans-serif
                align-self: center
                font-weight: 500
            .man-playing-games
                height: 250px
                align-self: center
                img
                    height: 250px
        .search-creator
            justify-content: space-between
            display: flex
            flex-direction: row
            flex-wrap: wrap
            flex: 1
            height: 140px
            align-items: center
            .content-heading.text-left
                width: 200px
                display: flex
                flex-direction: column
                padding-left: 3em
                #patron-call
                    margin-bottom: 0px
                    margin-top: 5px
            .creatorSearchForm
                display: flex
                flex-direction: row
                align-items: center
                padding-right: 3em
                height: fit-content
                #creator
                    #creatorFind
                        height: 40px
                        border: none
                        border-radius: 20px
                        padding: 0px 30px
                        width: 250px
                        font-size: 20px
                        font-weight: 700
                        background-color: #e8e8e8
                #creatorFindSubmit
                    margin-left: 20px
                    .button
                        border: none
                        height: 40px
                        width: 100px
                        border-radius: 20px
                        color: #6892D5
                        background-color: #79D1C3
                        font-weight: 700
                        font-size: 16px
                        transition: 0.3s
                        &:hover
                            box-shadow: 3px 3px 3px
        #woman-section
            align-items: center
            flex-direction: row-reverse
            display: flex
            padding: 1em
            justify-content: space-between
            .info-text.text-right
                width: 220px
                padding-right: 1em
                font-family: fonts.$primary-font-type, sans-serif
                font-size: 16px
                font-weight: 500
            .woman-on-computer
                img
                    height: 450px

/* Desktop */
@media all and ( min-width: 960px )
    #pagename-input
        border: 1px solid transparent
        font-family: 'graphik 400',sans-serif
        font-size: 24px
        line-height: 65px
        color: #0d0c22
        width: 155px
        background: 0 0
        caret-color: #0d0c22
        text-align: left
        margin-left: 1px

    .content-panel
        display: flex
        flex-direction: column
        padding: 4.5em
        flex: 1 0
        .search-creator
            display: flex
            flex-direction: row
            justify-content: space-evenly
            padding-right: 0em
            height: 100px
            padding: 2em
            .content-heading.text-left
                align-self: center
                font-family: fonts.$primary-font-type,sans-serif
                #patron-call
                    margin-top: 0px
                    margin-bottom: 0px
            .creatorSearchForm
                display: flex
                flex-direction: row
                align-items: center
                #creator
                    input[type="text"]
                        padding:0 30px



    #creatorFind
        height: 50px
        width: 420px
        border: none
        border-radius: 20px
        font-size: 20px
        font-weight: 700
        background-color: #e8e8e8

    #creatorFind::placeholder
        font-size: 15px !important
        font-weight: 700 !important
        opacity: 0.42 !important
        color: #000 !important

    #creatorFind:focus
        outline: none

    #creatorFindSubmit
        margin-left: 20px
        .button
            height: 50px
            width: 150px
            border: none
            border-radius: 20px
            font-size: 20px
            font-weight: 700
            color: #6892D5
            background-color: #79D1C3
            transition: 0.3s
        .button:hover
            box-shadow: 3px 3px 3px


    .center-block
        display: flex
        flex-direction: row
        justify-content: space-around
        padding: 1em
        height: 500px
        .info-text.text-left
            font-family: fonts.$primary-font-type, sans-serif
            width: 260px
            align-self: center
            line-height: 25px
            font-weight: 500
            font-size: 20px
            padding-left: 60px
        .man-playing-games.place-right
            height: 500px
            width: 600px
            img
                height: 450px



    #woman-section
        display: flex
        flex-direction: row-reverse
        padding: 2em
        align-items: center
        justify-content: space-between
        .info-text.text-right
            width: 220px
            padding-right: 140px
            font-size: 16px
            font-weight: 500
            font-family: fonts.$primary-font-type
        .woman-on-computer
            height: 700px
            width: 700px
            img
                height: 700px 
    #journey-start
        display: flex
        flex-direction: row
        justify-content: space-evenly
        padding-right: 0em
        height: 100px
        padding: 2em
        .make-a-page-text
            display: flex
            flex-direction: column
            width: 200px
            #jiffy
                margin-bottom: 0px
                width: fit-content
                font-family: "poppins", sans-serif
                font-size: 20px
                line-height: 25px
            .info-text
                font-family: fonts.$primary-font-type
                color: #A8A8A8
                font-weight: 700
        .pageCreateForm
            display: flex
            flex-direction: row
            align-items: center
            #creatorPageName
                input[type="text"]
                    padding:0 30px
    #startPageCreate
        height: 50px
        width: 420px
        border: none
        border-radius: 20px
        font-size: 20px
        font-weight: 700
        background-color: #e8e8e8

    #startPageCreate::placeholder
        font-size: 15px !important
        font-weight: 700 !important
        opacity: 0.42 !important
        color: #000 !important

    #startPageCreate:focus
        outline: none

    #startPageCreation
        margin-left: 20px
        .button
            height: 50px
            width: 150px
            border: none
            border-radius: 20px
            font-size: 16px
            font-weight: 700
            color: #6892D5
            background-color: #79D1C3
            transition: 0.3s
        .button:hover
            box-shadow: 3px 3px 3px

            



    