<div class="content-panel">
    <div class="center-block" id="journey-start">
        <div class="make-a-page-text">
            <h4 class="content-heading" id="jiffy">Create your page in a jiffy.</h4>
            <p class="info-text">Its absolutely free. No gas fees, No extra charges</p>
        </div>
        <form [class.pageCreateForm]="creatorSearchFormCSS" [formGroup]="pageCreate" (ngSubmit)="onPageCreate()">
            <div class="enterName" id="creatorPageName">
                <input id="startPageCreate" type="text" formControlName="pageName" placeholder="pagename">
            </div>                     
            <div class="button" id="startPageCreation">
                <button class="button" type="submit">Create</button>
            </div>
        </form>
    </div>
    <div class="center-block">
        <p class="info-text text-left">Kōen allows your patrons to support you in a modern, secure approach. Diversify your commodities and make a move outside the contemporary. Crypto is and will be and a great investment.</p>
        <div class="man-playing-games place-right">
            <img src="../../../assets/images/man-playing-video-game.svg">
        </div>
    </div>
    <div class="search-creator">
        <div class="content-heading text-left">
            <h2 class="info-text" id="patron-call">Like a creator?</h2>
            <h2 class="info-text" id="patron-call">Support them!</h2>
        </div>
        <form [class.creatorSearchForm]="creatorSearchFormCSS" [formGroup]="creatorSearch" (ngSubmit)="onCreatorSearch()">
            <div class="search-bar" id="creator">
                <input id="creatorFind" type="text" formControlName="creatorName" placeholder="Find Creator">
            </div>                     
            <div class="button" id="creatorFindSubmit">
                <button class="button" type="submit">Search</button>
            </div>
        </form>
    </div>
    <div class="center-block" id="woman-section">
        <p class="info-text text-right">Find your own space! Share your views to the world and unite the people. Have a chill zone with your community. Put your merch up for grabs and create a new beginning</p>
        <div class="woman-on-computer place-left">
            <img src="../../../assets/images/the-modern-woman.svg">
        </div>
    </div>
    <div class="footer">
    </div>
</div>