<!-- <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"></h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div> -->
<div class="modal-body">
    <div class="row">
        <div class="col-md-5 login-graphic"> <img src="../../../assets/images/login-woman.svg">  </div>
        <div class="col-md-7 login-form-container">
            <h3 class="login-overlay-text">Ready. Set. Koen.</h3>
            <button type="button" class="btn login-overlay-btn" (click)="signInWithGoogle()"><span><img src="../../../assets/images/google-icon.svg"></span> login with Google</button>
            <button type="button" class="btn login-overlay-btn" (click)="activeModal.close('Sign in with metamask')"><span><img src="../../../assets/images/metamask-icon.svg"></span> login with MetaMask</button>
            <button type="button" class="btn login-overlay-btn" (click)="signOut()" (click)="activeModal.close('Logged out')">Google Sign out (temp)</button>
        </div>
    </div>
</div>

<!-- <div class="modal-footer">
</div> -->