@use '../../../assets/styles/light-theme-colors'
@use '../../../assets/styles/fonts' 

// small phones
.modal-body
    padding: 0rem
.modal-dialog
    margin: 0rem
    max-width: 800px
.login-overlay .modal-content
    border-radius: 17px 17px 0 0
    background-color: light-theme-colors.$light-primary-color
    position: absolute
    bottom:0px
    transform: translateY(10%)

.login-graphic
    display: none

.login-form-container
    padding: 6rem 3rem 7rem 3rem
    max-width: 400px
    margin: auto

.login-overlay-input
    opacity: 0.7
    background-color: light-theme-colors.$light-background-color
    border-radius: 5px
    padding: 1.2em
    max-width: 100%
    font-family: 'graphik 400',sans-serif

.login-overlay-text
    text-align: center
    font-size: 29.7
    margin-bottom: 20px
    color: lighten(light-theme-colors.$light-primary-font-color, 30) 
    font-weight: fonts.$subtitle-font-weight

.login-overlay-btn
    position: relative
    text-align: center
    border: 2px solid light-theme-colors.$light-primary-dark-color
    padding: 1.05em
    margin-top: 30px
    background-color: lighten(light-theme-colors.$light-primary-color, 27)
    width: 100%
    color: light-theme-colors.$light-primary-dark-color
    font-weight: fonts.$button-text-font-weight

    &::before
        content: ' '
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0

        box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.5)
        opacity: 0
        transition: opacity 300ms

    &:hover
        background-color: lighten(light-theme-colors.$light-primary-color, 20)
        color: light-theme-colors.$light-primary-dark-color 

    &:hover::before
        opacity: 1

    img
        width: 6%
        
// normal and large phones
@media all and (min-width: 360px)
    .login-overlay-btn
        text-align: left
        span
            padding: 0 1.5em 0 1.2em
            img
                width: 12%

// tablets and desktops
@media all and (min-width: 768px)
    .login-overlay .modal-content
        border-radius: 17px
        background-color: light-theme-colors.$light-background-color
        position: relative
        top:50% 
        transform: translateY(0%)
    .modal-dialog
        max-width: 800px
        margin: 1.75em auto
    .login-graphic
        background-image: linear-gradient( light-theme-colors.$light-tertiary-color, light-theme-colors.$light-primary-color,)
        border-radius: 17px 0 0 17px
        margin: 0rem
        margin-left: 15px
        max-width: 37%
        justify-content: center
        display: flex
        img
            width: 70%
    .login-overlay-text
        color: light-theme-colors.$light-primary-font-color
    .login-overlay-btn
        background-color: light-theme-colors.$light-background-color 
        color: light-theme-colors.$light-primary-font-color

 