
html
    padding: 0px !important
    margin: 0px !important

body
    height: 100vh
    width: 100vw
    padding: 0px
    margin: 0px
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'
